<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/app.js"></script>
</head>
<body>
  <nav>
    <a href="/home" ><img src="/images/home-icon.png" ></a>
    <a href="/works">Works</a>
    <a href="/gallery">Gallery</a>
  </nav>
  <header>
    <img src="/images/cartoon.jpg" alt="michael-cartoon" id="michael-img">
  </header>
  <main>
    <section>
      <h2>Michael Faraday</h2>
      <p>
        Began working as an apprentice to George Riebau, a local bookbinder and bookseller on Blandford Street when he was 14 years old. Faraday read a lot of books during his seven-year apprenticeship, including Isaac Watts' The Improvement of the Mind, of which he vigorously applied the given principles and recommendations. He also became interested in science, especially electricity. Jane Marcet's book Conversations on Chemistry was especially inspiring to Faraday.
      </p>
      <p>
        Faraday attended lectures by eminent English chemist Humphry Davy of the Royal Institution and the Royal Society, and John Tatum, member of the City Philosophical Society, in 1812, when he was 20 years old and approaching the end of his apprenticeship. 
      </p>
      <p>
        William Dance, one of the Royal Philharmonic Society's members, gave Faraday a large number of tickets to these lectures. Faraday then sent Davy a 300-page book based on the notes he made during these lectures. When Davy's eyesight was destroyed in an accident with nitrogen trichloride in 1813, he decided to hire Faraday as an assistant.
      </p>
      <p>
        On the same day that one of the Royal Institution's assistants, John Payne, was shot, Sir Humphry Davy was asked to find a replacement; as a result, on March 1, 1813, he appointed Faraday as Chemical Assistant at the Royal Institution. Davy soon entrusted Faraday with the preparation of nitrogen trichloride samples, and they were both hospitalised when this highly sensitive material exploded.
      </p>
      <p>
        Faraday was awarded an honorary Doctor of Civil Law degree by the University of Oxford in June 1832. During his lifetime, he was given a knighthood in recognition of his contributions to science, which he declined on religious grounds, claiming that accumulating wealth and seeking worldly reward was against the word of God, and preferring to remain "plain Mr Faraday to the end." He was elected a member of the Royal Society in 1824, but he declined to be President on two occasions. In 1833, he was appointed as the first Fullerian Professor of Chemistry at the Royal Institution.
      </p>
      <p>
        Faraday was inducted into the American Academy of Arts and Sciences as a Foreign Honorary Member in 1832. In 1838, he was elected to the Royal Swedish Academy of Sciences as a foreign member, and in 1844, he was one of eight foreign members elected to the French Academy of Sciences. He was elected as an associate member of the Royal Institute of the Netherlands in 1849, which became the Royal Netherlands Academy of Arts and Sciences two years later, and he was later promoted to foreign member.
      </p>
      <p>
        Faraday had a nervous breakdown in 1839, but he recovered and resumed his electromagnetism research. Faraday was granted a grace and favour house in Hampton Court, Middlesex, in 1848, as a result of the Prince Consort's representations. The house was free of all expenses and maintenance. This was the Master Mason's Home, which later became known as Faraday House and is now known as No. 37 Hampton Court Road. Faraday moved there in 1858 to retire.
      </p>
      <p>
        Faraday declined to engage in the manufacture of chemical weapons for use in the Crimean War (1853–1856) after providing a variety of different service projects for the British government. He cited ethical grounds for his refusal.
      </p>
    </section>
  </main>
</body>
</html>