<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/app.js"></script>
</head>
<body id="home">
    <nav>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/gallery">Gallery</a>
  </nav>
  <header>
    <h1>The greatest scientist in the history of mankind </h1>
    <img src="/images/michaelfaraday.png" alt="waves">
  </header>
  <main>
    <section>
      <h2>Who was him?</h2>
      <p>Was an English scientist who made important contributions to the fields of electrochemistry and electromagnetism. The concepts underlying electromagnetic induction, diamagnetism, and electrolysis were among his most important discoveries.</p>
    </section>
    <section>
      <h2>What makes him the greatest?</h2>
      <p>
        He basically gave the foundation of the Electromagnetic Theory with <em>no formal education at all</em> (which is impressive).
        <br>
        In other words, he <em>is</em> the <strong>Father of Electricity</strong>.
      </p>
    </section>
    <section>
      <h2>Theory of what!?</h2>
      <p>The Electromagnetic Theory stablishes the basic principles of electrical and electronic circuits over the entire frequency spectrum from dc to optics. <br>In simplest words, it explains the relationship between magnetism and electricity, without it, we wouldn't telecomunications (internet is part of it), cellphones, computers... You know, all the digital era wouldn't exist.</p>
    </section>
  </main>
</body>
</html>