<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/app.js"></script>
</head>
<body>
    <nav>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/home"><img src="/images/home-icon.png"></a>
  </nav>
  <header>
    <!-- <h1>The greatest scientist in the history of mankind </h1> -->
  </header>
  <main>
    <div class="gallery">
      <div>
        <img src="/images/cartoon.jpg" alt="michael-cartoon">
      </div>
      <div>
        <img src="/images/electric-motor.jpg" alt="electric-motor">
      </div>
      <div>
        <img src="/images/cage.jpg" alt="faraday-cage">
      </div>
      <div>
        <img src="/images/generator.jpg" alt="electric-generator">
      </div>
      <div>
        <img src="/images/faraday-law.jpg" alt="faraday-law1">
      </div>
      <div>
        <img src="/images/law.jpg" alt="faraday-law2">
      </div>
      <div>
        <img src="/images/motor.gif" alt="simple-dcmotor">
      </div>
      <div>
        <img src="/images/movement.gif" alt="induction-experiment">
      </div>
    </div>
  </main>
</body>
</html>