<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/app.js"></script>
</head>
<body id="works">
    <nav>
    <a href="/about">About</a>
    <a href="/home"><img src="/images/home-icon.png"></a>
    <a href="/gallery">Gallery</a>
  </nav>
  <header>
    <img src="/images/michael-faraday.png" alt="most-wanted">
  </header>
  <main>
    <section>
      <ol>
        <li>
          <em>Faraday's Law of Induction</em>
          <ul>
            <li>
              Faraday's law of induction (also known as Faraday's law) is a fundamental law of electromagnetism that describes how a magnetic field interacts with an electric circuit to create an electromotive force (EMF), a phenomenon known as electromagnetic induction. Transformers, inductors, and several types of electrical motors, generators, and solenoids all work on this principle.
            </li>
            <li>
              Faraday's law was discovered, and one of its aspects (transformer EMF) was later developed as the Maxwell–Faraday equation. 
            </li>
            <li>
              The Maxwell–Faraday equation states that a spatially varying (and possibly also time-varying, depending on how a magnetic field varies in time) electric field always accompanies a time-varying magnetic field, while Faraday's law states that there is EMF (electromotive force, described as electromagnetic work done on a unit charge when it has travelled a certain distance).
            </li>
            <li>
              The Maxwell–Faraday equation (which describes transformer EMF) and the Lorentz force can be used to derive Faraday's law (describing motional EMF).
            </li>
          </ul>
        </li>
        <li>
          <em>Faraday Effect</em>
          <ul>
            <li>
              The magneto-optic Faraday effect (MOFE), also known as the Faraday effect or Faraday rotation, is a physical magneto-optical phenomenon. The Faraday effect induces polarisation rotation that is proportional to the magnetic field projection along the light propagation direction. Formally, when the dielectric permittivity tensor is diagonal, it is a special case of gyro electromagnetism.
            </li>
            <li>
              The Faraday effect, discovered by Michael Faraday in 1845, was the first experimental proof that light and electromagnetism are related. In the 1860s and 1870s, James Clerk Maxwell and Oliver Heaviside completed the theoretical foundation of electromagnetic radiation (which includes visible light). Under the influence of magnetic fields, this phenomenon occurs in most optically transparent dielectric materials (including liquids).
            </li>
            <li>
              Circular birefringence, a property that causes the Faraday effect, is caused by left and right circularly polarised waves propagating at slightly different speeds. Since a linear polarisation can be decomposed into the superposition of two equal-amplitude circularly polarised components of opposite handedness and phase, a relative phase shift caused by the Faraday effect rotates the linear polarisation of a wave.
            </li>
          </ul>
        </li>
        <li>
          <em>Faraday Cage</em>
          <p>
            A Faraday cage, also known as a Faraday shield, is an electromagnetic field-blocking enclosure. A Faraday shield may be made out of a continuous layer of conductive material, or a mesh of such materials in the case of a Faraday cage. 
          </p>
        </li>
        <li>
          <em>Faraday Constant</em>
          <p>
            Michael Faraday is the name of the Faraday constant, which is denoted by the symbol F and sometimes stylized as F. This constant represents the magnitude of electric charge per mole of electrons in chemistry and physics.
            <br>
            F = 96485.33212... Cmol 
          </p>
        </li>
        <li>
          <em>Faraday's Law of Electrolysis</em>
          <ul>
            <li>
              The mass (m) of elements deposited at an electrode is directly proportional to the charge (Q in ampere seconds or coulombs), according to Michael Faraday.
              <br>
              The electrochemical equivalent (e.c.e) of the substance is the constant of proportionality Z. As a result, the mass of the substance deposited/liberated per unit charge can be defined as the e.c.e.
            </li>
            <li>
              Faraday discovered that the mass of the substance liberated/deposited at the electrodes in g is directly proportional to their chemical equivalent/equivalent weight(E) when the same amount of electric current is passed through different electrolytes/elements connected in series. This is calculated by dividing the molar mass (M) by the valence (v).
            </li>
          </ul>
        </li>
      </ol>
    </section>
  </main>
</body>
</html>